@import 'variables';

.header {
  align-items: center;
  background: $background;
  border-bottom: $border-color $border-style $border-width;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  line-height: $line-height;
  padding: 0;
}
